<div class="container top-header bg-white">
  <h2 class="dancing-script bounce-top" style="text-align:center">MagicMon <i class="fa-solid fa-dragon"></i></i></h2>
  <div class="container-fluid">
    <form class="d-flex" role="search" action="<%= animals_path %>" method="get">
  <input name="search" class="form-control me-2 rounded-pill" type="search" placeholder="Search for an animal..." aria-label="Search" style="border: none; box-shadow: 0 0 15px rgba(0,0,0,0.1);">
  <button class="btn btn-primary rounded-pill" type="submit" style="border: none; box-shadow: 0 0 15px rgba(0,0,0,0.2);">Search</button>
</form>
  </div>
</div>

<%# have changed the button %>

<div class="container d-flex">
  <div class = "row">
    <div id="sidebar" class="d-flex flex-column flex-shrink-0 p-3 col-3 bg-white min-vh-100">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary dropdown-toggle mt-3" data-bs-toggle="dropdown" aria-expanded="false">
          Age
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Dropdown link</a></li>
          <li><a class="dropdown-item" href="#">Dropdown link</a></li>
        </ul>
      </div>

      <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary dropdown-toggle mt-4" data-bs-toggle="dropdown" aria-expanded="false">
          Ability
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Dropdown link</a></li>
          <li><a class="dropdown-item" href="#">Dropdown link</a></li>
        </ul>
      </div>

      <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary dropdown-toggle mt-4" data-bs-toggle="dropdown" aria-expanded="false">
         Price
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Dropdown link</a></li>
          <li><a class="dropdown-item" href="#">Dropdown link</a></li>
        </ul>
      </div>
    </div>



<div class='col-9 bg-white' style="display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

    ">

  <% @animals.each do |animal| %>

      <div class="card mt-3 animal-card"  >
        <%# Cloudinary Image %>
        <%# upload the image to Cloudinary %>
        <%= cl_image_tag animal.image.key, class: "card-img-top" if animal.image.attached? %>
        <div class="card-body  ">
          <h5 class="card-title"><%= link_to animal.name, animal_path(animal) %></h5>
          <p class="card-text"><%= animal.location %></p>
          <% animal.abilities.each do |ability| %>
            <a href="#" class="btn btn-success rounded-pill"><%=ability.name %></a>
          <% end %>
        </div>
      </div>

  <% end %>
</div>


<%# link to the new route %>
<%# <%= cl_image_tag(@animal.image.key) if @animal.image.attached? %>
</div>
</div>
