<div class="card">
  <div class="row no-gutters">
    <div class="col-md-6">
      <%= cl_image_tag(@animal.image.key, class: "card-img")  if @animal.image.attached?%>
    </div>
    <div class="col-md-6">
      <div class="card-body">




        <h3 class="card-title"><%= @animal.name %></h3>
        <p class="card-text">Located At <%= @animal.location %></p>
        <p>  <%= @animal.age %> Years old</p>
        <p>Price is: $<%= @animal.price %></p>
        <% @animal.abilities.each do |ability|  %>
        <a href="#" class="btn btn-primary"><%= ability.name %></a>
        <% end %>

        <%= render 'book_form' %>




      </div>
    </div>
  </div>
  <div class="card-footer">
    <%= link_to 'Back', animals_path, class: ' btn btn-secondary'  %>
    <%# link to edit %>

    <%= link_to 'Edit', edit_animal_path, class: 'btn btn-dark' if @animal.user == current_user %>

    <%# #link to make a booking %>



  </div>
</div>


<%#
if the user isnt signed in, the edit button should not show %>
